<div class="contenedor">
    <div class="pantalla">
        <div class="lblPantalla">
            <label>Pantalla</label>
        </div>
    </div>
    <div class="sillas" >
        <table>
            <tr>
                <td><button id="btnA01" class="{{getSillaEstado(this)}}">A-01</button></td>
                <td><button id="btnA02" class="getSillaEstado(this)">A-02</button></td>
                <td><div class="separador"></div></td>
                <td><button id="btnA03" class="getSillaEstado(this)">A-03</button></td>
                <td><button id="btnA04" class="silla">A-04</button></td>
                <td><button id="btnA05" class="silla">A-05</button></td>
                <td><button id="btnA06" class="silla">A-06</button></td>
                <td><button id="btnA07" class="silla">A-07</button></td>
                <td><button id="btnA08" class="silla">A-08</button></td>
                <td><div class="separador"></div></td>
                <td><button id="btnA09" class="silla">A-09</button></td>
                <td><button id="btnA10" class="silla">A-10</button></td>
            </tr>
            <tr>
                <td><button id="btnB01" class="silla">B-01</button></td>
                <td><button id="btnB02" class="silla">B-02</button></td>
                <td><div class="separador"></div></td>
                <td><button id="btnB03" class="silla">B-03</button></td>
                <td><button id="btnB04" class="silla">B-04</button></td>
                <td><button id="btnB05" class="silla">B-05</button></td>
                <td><button id="btnB06" class="silla">B-06</button></td>
                <td><button id="btnB07" class="silla">B-07</button></td>
                <td><button id="btnB08" class="silla">B-08</button></td>
                <td><div class="separador"></div></td>
                <td><button id="btnB09" class="silla">B-09</button></td>
                <td><button id="btnB10" class="silla">B-10</button></td>
            </tr>
            <tr>
                <td><button id="btnC01" class="silla">C-01</button></td>
                <td><button id="btnC02" class="silla">C-02</button></td>
                <td><div class="separador"></div></td>
                <td><button id="btnC03" class="silla">C-03</button></td>
                <td><button id="btnC04" class="silla">C-04</button></td>
                <td><button id="btnC05" class="silla">C-05</button></td>
                <td><button id="btnC06" class="silla">C-06</button></td>
                <td><button id="btnC07" class="silla">C-07</button></td>
                <td><button id="btnC08" class="silla">C-08</button></td>
                <td><div class="separador"></div></td>
                <td><button id="btnC09" class="silla">C-09</button></td>
                <td><button id="btnC10" class="silla">C-10</button></td>
            </tr>
            <tr>
                <td><button id="btnD01" class="silla">D-01</button></td>
                <td><button id="btnD02" class="silla">D-02</button></td>
                <td><div class="separador"></div></td>
                <td><button id="btnD03" class="silla">D-03</button></td>
                <td><button id="btnD04" class="silla">D-04</button></td>
                <td><button id="btnD05" class="silla">D-05</button></td>
                <td><button id="btnD06" class="silla">D-06</button></td>
                <td><button id="btnD07" class="silla">D-07</button></td>
                <td><button id="btnD08" class="silla">D-08</button></td>
                <td><div class="separador"></div></td>
                <td><button id="btnD09" class="silla">D-09</button></td>
                <td><button id="btnD10" class="silla">D-10</button></td>
            </tr>
            <tr>
                <td><button id="btnE01" class="silla">E-01</button></td>
                <td><button id="btnE02" class="silla">E-02</button></td>
                <td><div class="separador"></div></td>
                <td><button id="btnE03" class="silla">E-03</button></td>
                <td><button id="btnE04" class="silla">E-04</button></td>
                <td><button id="btnE05" class="silla">E-05</button></td>
                <td><button id="btnE06" class="silla">E-06</button></td>
                <td><button id="btnE07" class="silla">E-07</button></td>
                <td><button id="btnE08" class="silla">E-08</button></td>
                <td><div class="separador"></div></td>
                <td><button id="btnE09" class="silla">E-09</button></td>
                <td><button id="btnE10" class="silla">E-10</button></td>
            </tr>
            <tr>
                <td><button id="btnF01" class="silla">F-01</button></td>
                <td><button id="btnF02" class="silla">F-02</button></td>
                <td><div class="separador"></div></td>
                <td><button id="btnF03" class="silla">F-03</button></td>
                <td><button id="btnF04" class="silla">F-04</button></td>
                <td><button id="btnF05" class="silla">F-05</button></td>
                <td><button id="btnF06" class="silla">F-06</button></td>
                <td><button id="btnF07" class="silla">F-07</button></td>
                <td><button id="btnF08" class="silla">F-08</button></td>
                <td><div class="separador"></div></td>
                <td><button id="btnF09" class="silla">F-09</button></td>
                <td><button id="btnF10" class="silla">F-10</button></td>
            </tr>
            <tr>
                <td><button id="btnG01" class="silla">G-01</button></td>
                <td><button id="btnG02" class="silla">G-02</button></td>
                <td><div class="separador"></div></td>
                <td><button id="btnG03" class="silla">G-03</button></td>
                <td><button id="btnG04" class="silla">G-04</button></td>
                <td><button id="btnG05" class="silla">G-05</button></td>
                <td><button id="btnG06" class="silla">G-06</button></td>
                <td><button id="btnG07" class="silla">G-07</button></td>
                <td><button id="btnG08" class="silla">G-08</button></td>
                <td><div class="separador"></div></td>
                <td><button id="btnG09" class="silla">G-09</button></td>
                <td><button id="btnG10" class="silla">G-10</button></td>
            </tr>
            <tr>
                <td><button id="btnH01" class="silla">H-01</button></td>
                <td><button id="btnH02" class="silla">H-02</button></td>
                <td><div class="separador"></div></td>
                <td><button id="btnH03" class="silla">H-03</button></td>
                <td><button id="btnH04" class="silla">H-04</button></td>
                <td><button id="btnH05" class="silla">H-05</button></td>
                <td><button id="btnH06" class="silla">H-06</button></td>
                <td><button id="btnH07" class="silla">H-07</button></td>
                <td><button id="btnH08" class="silla">H-08</button></td>
                <td><div class="separador"></div></td>
                <td><button id="btnH09" class="silla">H-09</button></td>
                <td><button id="btnH10" class="silla">H-10</button></td>
            </tr>
        </table>
    </div>
</div>

