.form-group, .btn {
    margin-left: 10px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

.card {
    width: 40rem;
    height: 10rem; 
    margin-top: 2rem; 
    margin-left: 3rem;
    background-color:steelblue;
}

.alert {
    width: 40rem;
    margin-left: 3rem;
}