<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <form (submit)="Guardar(formPelicula)" #formPelicula="ngForm">
            <div class="row">
                <input type="hidden" id="id" name="id" [(ngModel)]="model.peliculaId" #peliculaId="ngModel" >
                <div class="form-group"> 
                    <!--<label for="txtCedula">Cedula</label>-->
                    <input type="text" id="titulo" name="titulo" required tituloUnico class="form-control" [(ngModel)]="model.titulo" #titulo="ngModel" placeholder="Titulo" maxlength="30">
                
                    <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)" class="alert alert-danger">
                        <div *ngIf="titulo.errors.required">
                            titulo es requerido.
                        </div>
                        <div *ngIf="titulo.errors.tituloUnico">
                            titulo ya existe
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <!--<label for="txtNombre">Nombre</label>-->
                    <input type="date" id="estreno" name="estreno" required class="form-control" [ngModel]="model.estreno | date:'yyyy-MM-dd' : 'UTC'" (ngModelChange)="model.estreno = $event" #estreno="ngModel" style="width: 180px;">
                
                    <div *ngIf="estreno.invalid && (estreno.dirty || estreno.touched)" class="alert alert-danger">
                        <div *ngIf="estreno.errors.required">
                            estreno es requerido.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <!--<label for="txtNombre">Nombre</label>-->
                    <input type="text" id="rutaPoster" name="rutaPoster" required class="form-control" [(ngModel)]="model.rutaPoster"  #rutaPoster="ngModel" placeholder="Ruta Poster">
                
                    <div *ngIf="rutaPoster.invalid && (rutaPoster.dirty || rutaPoster.touched)" class="alert alert-danger">
                        <div *ngIf="rutaPoster.errors.required">
                            rutaPoster es requerido.
                        </div>
                    </div>
                </div>
                <button *ngIf="!guardando" type="submit" [disabled]="!formPelicula.form.valid" class="btn btn-dark">Guardar</button>
                <button *ngIf="guardando" [disabled]="true" class="btn btn-dark">
                    <span class="spinner-border spinner-border-sm"></span>
                    <span> Guardando..</span>
                </button>
                <div *ngIf="editMode">
                    <button *ngIf="!borrando" type="button" style="width: 90px;" class="btn btn-dark" (click)="borrar(model.peliculaId)">Borrar</button>
                    <button *ngIf="borrando" [disabled]="true" class="btn btn-dark">
                        <span class="spinner-border spinner-border-sm"></span>
                        <span> Borrando..</span>
                    </button>
                </div>
                <div *ngIf="editMode"><button type="reset" class="btn btn-dark" (click)="nueva()">Nueva</button></div>
            </div>   
        </form>
    </div>
</div>
<div *ngIf="alerta">
    <div class="alert alert-success" role="alert">
        Pelicula Borrada
    </div>
</div>
