.card {
    width: 18rem;
    max-height: 22rem;
    margin-top: 5rem;
    margin-left: 3rem;
    background-color:steelblue;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=checkbox] {
    margin-left: 8px;
}

.alerta {
    margin:4rem 0 10px 10px !important;
}